numpy==1.24.0
scipy==1.10.0
torch==2.0.0

daisy==1.0.0

funlib.persistence==0.1.0
funlib.geometry==0.1.0
funlib.segment==0.1.0
funlib.learn.torch==0.1.0

lsd==0.1.0
waterz==0.9.0

gunpowder==1.3.0

pymongo==4.0.0

zarr==2.14.0