numpy==2.4

daisy==1.2.2
funlib.persistence==0.6.1
git+https://github.com/funkelab/funlib.learn.torch.git@228e15f41d755ee5c7e50cfaa26f7ed5110b55e4
git+https://github.com/funkelab/funlib.segment.git@cdf607f0bde3b27f16cec39b9874e266be80bda9

# lsds forked to fix deprecated usage of pymongo and skimage
git+https://github.com/ValGillet/lsd.git

# for lsds
matplotlib
mahotas
git+https://github.com/funkey/waterz.git@a0184d2af2ab3ed044721fb92822fc6ea9cee665